@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-white min-h-screen;
  }
}
